.form {
    // text-align: center;
    max-width: 400px;
    margin: 0 auto;
    input {
        width: 100%;
    }
    label {
        width: 100%;
    }
    button {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}